/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', serif;
  line-height: 1.6;
  color: #000000;
}

p {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

h2,
h3,
a { 
	color: #000000;
}

h2,
h3 {
  margin-top: 0;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 2em;
  font-weight: 500;
}

a { 
	text-decoration: none;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  font-size: 2em;
}

.name,
.main-nav li {
  text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav li {
  background: #fff;
}

.main-nav a {
  font-size: 1.25em;
  font-weight: bold;
	color: #000000;
  text-transform: uppercase;
  padding: 10px 15px;
  text-align: center;
  display: block;
}

.main-nav a:hover {
	color: #fa736a;
}


/* ---- Layout Containers ---- */

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.main-header {
  text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #f8f8f8;
  margin-bottom: 30px;
}

.main-footer {
  text-align: center;
	padding: 2em 0;
	background: #f8f8f8;
}

/* ---- Page Elements ---- */




/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
  
  .wrap {
    min-height: 100vh;
  }
  
  .container {
    width: 85%;
    max-width: 1150px;
    margin: 0 auto;
  }

  .main-nav li {
    background: none;
  }

  .name,
  .main-nav li {
    display: inline-block;
  }

  .name {
    width: 240px;
  }

  .profile-image {
    width: 300px;
    float: right;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 25px;
  }

  p {
    border: solid 1px red;
  }


}


@media (min-width: 1024px) {








}


