/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', serif;
  line-height: 1.6;
  color: #000000;
}

p {
  font-size: 1.25em;
  margin-bottom: 1.5em;
  text-align: center;
}

h2,
h3,
a { 
	color: #000000;
}

h2,
h3 {
  margin-top: 0;
  text-align: center;
}

h2 {
  font-size: 1.25em;
  padding-top: 1.5em;
	padding-bottom: 1.5em;
  margin-top: 1em;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 6px;
  margin-bottom: 6px;
}

a { 
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.38em;
  color: #000000;

}

img {
  max-width: 100%;
}

.content-img {
  padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.profile-image {
  margin: 0;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  font-size: 2em;
}

.name,
.main-nav li {
  text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav li {
  background: #fff;
}

.main-nav a {
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  display: block;
}

.main-nav a:hover,
.footer-nav a:hover {
	color: #fa736a;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ---- Layout Containers ---- */

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.main-header {
  text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #f8f8f8;
  margin-bottom: 30px;
}

.main-footer {
  text-align: center;
	padding: 2em 0;
	background: #f8f8f8;
}

.contact {
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.192);
}

/* ----  Footer Navigation  ---- */

.footer-break {
 margin-top: 2em; 
}

.footer-name {
  margin: 0;
  padding: 10px 15px;
  float: left;
}

.footer-nav {
  font-weight: bold;
  float: right;
  padding: 15px 15px;
}

.full {
  display: none;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
  
  .wrap {
    min-height: 100vh;
  }
  
  .container {
    width: 95%;
    max-width: 1150px;
    margin: 0 auto;
  }


/* ----  Header/Navigation  ---- */

  .main-nav li {
    background: none;
  }

  .name,
  .main-nav li {
    display: inline-block;
  }

  .name {
    width: 240px;
  }

  .profile-image {
    width: 300px;
    float: right;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 25px;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }


/* ----  Footer/Navigation  ---- */

  .top {
    display: none;
  }

  .full {
    display: inline-block;
    padding: 10px 15px;
  }

  .footer-name{
    margin-top: .5em;
  }

  .footer-break {
    margin-top: 1em; 
  }
     

/* ---- Columns ---- */

  .col {
    float: left;
  }

  .primary,
  .secondary {
    padding-right: .5em;
    width: 50%;
  }

}

@media (min-width: 1024px) {

/* ----  Header/Navigation  ---- */

  .name {
    float:left;
  }
  
  .intro {
    padding-top: 2em;
  }

  .tagline {
    margin-left: 0;
    text-align: left;
  }

  .profile-image{
    width: 400px;
    margin-top: 1.25em;
    margin-left: 5em;
    margin-right: 1em;
  }
 
  .main-nav{
    float: right;
  }

/* ---- Columns ---- */

.col {
  float: left;
}

.primary,
.secondary {
  padding: 0;
}

.left,
.middle,
.right {
  width: 33.3333333333%;
  padding: 1em;
}

}


