
/* ------- Base Element Styles ------- */

* {
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans JP', serif;
    line-height: 1.5;
}

/* ------- Base Layout Styles ------- */
/*Nav*/

.banner {
    background-color: #f8f8f8 ;
}

.name {
    text-align: center;
    font-size: 2.5em;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.main-nav a {
    text-align: center;
    display: block;
    font-size: 1.5em;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #000000;
    text-decoration-line: none;
}

.main-nav a:hover {
    color: #fa736a
}